/**
!/.gitignore

!/GAZPCadrWebExt/
/GAZPCadrWebExt/**
!/GAZPCadrWebExt/src
!/GAZPCadrWebExt/src/*

!/RSHBWebExt/
/RSHBWebExt/**
!/RSHBWebExt/src
!/RSHBWebExt/src/*


!/VZWebExt/
/VZWebExt/**
!/VZWebExt/src
!/VZWebExt/src/*

!/TestWebExt/
/TestWebExt/**
!/TestWebExt/src
!/TestWebExt/src/*

!/ASBWebExt/
/ASBWebExt/**
!/ASBWebExt/src
!/ASBWebExt/src/*

!/FoodMasterWebExt/
/FoodMasterWebExt/**
!/FoodMasterWebExt/src
!/FoodMasterWebExt/src/*

!/FoodMasterZayavkyWebExt/
/FoodMasterZayavkyWebExt/**
!/FoodMasterZayavkyWebExt/src
!/FoodMasterZayavkyWebExt/src/*

