/**
!/.gitignore

!/ASBWebExt/
/ASBWebExt/**
!/ASBWebExt/src
!/ASBWebExt/src/*

!/FoodMasterWebExt/
/FoodMasterWebExt/**
!/FoodMasterWebExt/src
!/FoodMasterWebExt/src/*

!/FoodMasterZayavkyWebExt/
/FoodMasterZayavkyWebExt/**
!/FoodMasterZayavkyWebExt/src
!/FoodMasterZayavkyWebExt/src/*

!/GAZPCadrWebExt/
/GAZPCadrWebExt/**
!/GAZPCadrWebExt/src
!/GAZPCadrWebExt/src/*

!/NewsMediaWebExt/
/NewsMediaWebExt/**
!/NewsMediaWebExt/src
!/NewsMediaWebExt/src/*

!/RSHBWebExt/
/RSHBWebExt/**
!/RSHBWebExt/src
!/RSHBWebExt/src/*

!/TestWebExt/
/TestWebExt/**
!/TestWebExt/src
!/TestWebExt/src/*

!/TGazWebExt/
/TGazWebExt/**
!/TGazWebExt/src
!/TGazWebExt/src/*

!/VolmaWebExt/
/VolmaWebExt/**
!/VolmaWebExt/src
!/VolmaWebExt/src/*

!/VZWebExt/
/VZWebExt/**
!/VZWebExt/src
!/VZWebExt/src/*






