@charset "UTF-8";
.tableFontSize {
  font-size: .6rem;
}

.expressBill {
  margin-top: 1.8em !important;
}

.expressBill div div div label {
  font-size: 1.3em !important;
}

.wordButton button {
  background: url(./word.png) no-repeat 100px 10px;
  background-color: #ccc;
}

.spanDateValidate span {
  color: red;
}

.tableColumFont div div div div div textarea {
  color: black !important;
}

.fontDocument div > span.labeled-text-label {
  color: black !important;
  opacity: 1 !important;
  font-weight: bold !important;
}

.fontDocumentTable div div div div .table-helper-cell {
  opacity: 1 !important;
  color: black !important;
}

.Blocked div .text-area-input_single-line {
  color: red;
}

.blockCustomStyle div span.title {
  opacity: 1 !important;
  font-style: italic;
}

.quickly div a.text {
  color: red;
}

.redLinks div.links_table-row[data-row-name*='СРОЧНО'] {
  color: red;
}

.DocKindNoEdit {
  margin-top: 35px !important;
}

.deleteCancelButton .button-helper[data-button-name="cancel-save-layout"] {
  display: none !important;
}

.tableFontSize {
  font-size: .6rem;
}

.opening div div div label {
  margin-top: 2em !important;
}

.prolongation {
  margin-top: 2.5em !important;
}

.expressBill {
  margin-top: 1.8em !important;
}

.expressBill div div div label {
  font-size: 1.3em !important;
}

.wordButton button {
  background: url(./word.png) no-repeat 50px 10px;
  background-color: #ccc;
}

.spanDateValidate span {
  color: red;
}

.tableColumFont div div div div div textarea {
  color: black !important;
}

.fontDocument div > span.labeled-text-label {
  color: black !important;
  opacity: 1 !important;
  font-weight: bold !important;
}

.fontLink div > div.card-link-label {
  color: black !important;
  opacity: 1 !important;
  font-weight: bold !important;
}

.fontDocumentTable div div div div .table-helper-cell {
  opacity: 1 !important;
  color: black !important;
}

.Blocked div .text-area-input_single-line {
  color: red;
}

.blockCustomStyle div span.title {
  opacity: 1 !important;
  font-style: italic;
}

.links_table-row[data-row-name*='СРОЧНО'] div.blueBackground a.text {
  color: green !important;
}

.links_table-row[data-row-name*='ЗАБЛОКИРОВАН'] div.blueBackground a.text {
  color: red !important;
}

.marginTopDate {
  padding-top: 30px !important;
}

.blueButton button {
  background-color: rgba(0, 149, 218, 0.8) !important;
  color: #fff !important;
}

.customBlockDiv div.disclosure-helper {
  background: #f3f3f3 !important;
}

.customBlockDivDisclosure div.disclosure {
  background: #f3f3f3 !important;
}

.divPaddingTopNull div.input-cell {
  padding-top: 0px !important;
}

.lowText > span.labeled-text-label {
  opacity: 0.5 !important;
  font-weight: normal !important;
  color: red !important;
}

.greyButton button {
  background-color: #ccc !important;
  color: #000 !important;
}

.agreementListMarginTop {
  margin-top: 1.5em !important;
  margin-bottom: 0px !important;
}

.redTextState a.text {
  color: red !important;
  font-size: 1.3em !important;
}

.viewDoclets {
  display: inline-block !important;
}

.marginTopButton {
  margin-top: 0.6em !important;
}

.buttonWidthTask {
  padding-right: 10px !important;
  padding-left: 15px !important;
}

.buttonWidthTask div.button-text {
  color: #333;
}

.buttonWidthTask div.with-paddings {
  padding-top: 0px !important;
}

.customBottomMargin div.grid-block {
  margin-bottom: 0px !important;
}

.blackPoint div.dv-ico {
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
  background-size: 22px 22px !important;
}

.iconDelete {
  background-image: url("../../App/Assets/Images/ico-remove.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  opacity: .3;
}

.iconDelete:hover {
  opacity: 1 !important;
}

.withoutBackgroundButton button {
  background: white;
  padding: 0px !important;
  padding-top: 3px !important;
}

.withoutBackgroundButton button:hover {
  background: white !important;
}

.withoutBackgroundButton {
  vertical-align: baseline !important;
}

.withoutDeleteButton span.ico-remove {
  display: none;
}

.fontSizeLinksMobile a.text {
  font-size: 0.8em;
}

.deleteRows .dv-control[ddata-control-name*="block3"] {
  display: none;
}

.tabSizeSmall {
  font-size: 12.2px !important;
}

.zeroPadding div#decision-control-container {
  padding: 0px !important;
}

.blueLine {
  background-color: #b1d6f0;
  position: absolute;
  height: 100%;
}

.blueFontBold div > span.labeled-text {
  color: #00558b !important;
  opacity: 1 !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
}

.blueFontBold {
  padding-bottom: 0.6em !important;
}

.blueFont div > span.labeled-text-label {
  color: #00558b !important;
}

.blueFontLast div > span.labeled-text-label {
  color: #00558b !important;
  padding-right: 0px !important;
}

.nullPaddings div.with-paddings {
  padding-bottom: 0px !important;
}

.paddingLeftFromLine {
  padding-left: 5px !important;
}

.customDocumentName {
  font-size: 1.35rem !important;
}

.marginBottom {
  margin-bottom: 5px !important;
}

.nullMarginBottom {
  margin-bottom: 0px !important;
}

.tab-item {
  font-size: 12.2px !important;
}

.mobile-row-element.title {
  margin-bottom: 0px !important;
  font-size: 1.6rem !important;
}

.mobile-row-element {
  font-size: 0.8em !important;
}

.withoutaEditButton span.ico-edit {
  display: none;
}

.sizeDate th.date {
  width: 22% !important;
  padding: 0px;
  text-align: center !important;
}

.sizeDate th.comment {
  width: 15% !important;
  text-align: center !important;
}

.sizeDate th.corrections {
  width: 10% !important;
  text-align: center !important;
}

.sizeDate span {
  font-size: 0.8em;
}

.sizeDate th.name {
  width: 25% !important;
  text-align: center !important;
}

.sizeDate th.decision {
  width: 17% !important;
  text-align: center !important;
}

.sizeDate td {
  padding: 0px !important;
}

div.variant-row button.icon-button-helper {
  display: none !important;
}
.label-cell.label-cell_align-top {
    width: auto!important;
}
.iconDelete:hover{
	cursor:pointer;
}
.dashb-bg {
  background-color: lightblue;
}
.mb-5 {
  margin-bottom: 105px;
} 
.flex-block>div>div {
 display: flex;
 text-align: left; 
 align-items: stretch; 
 flex-wrap: wrap;
}
.mx-1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
} 

.labeled-text-helper {
  flex-wrap: wrap !important;
}

.disabled>div>div>div>.right-items {
  display: none !important;
}

.disabled>div>div>div>textarea, .disabled>div>div>div>input, .disabled>div>div>div>div>div>div>input {
  background: lightgray !important;
}
